

<html>
<head>
    <title>Password_reset</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
.box{
box-shadow:0 0 15px rgba(0,0,0,0.5);
padding:15px;
font-size:20px;
background-color:#00008b;
color:white;
}
    </style>
</head>
<body style="background-color:rgba(0,0,0,0.9);">
<div class="box" style="color:yellow;">
TRAVELLA
</div>
<h3>Password Reset Complete</h3>

<p>Your password has been reset. You may go ahead and log in now.</p>

<a href="{% url 'Login_View'%}">Log in</a>
</body>
</html>